.title-card {
    border-radius: 12px;
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.create-session {
    border-radius: 12px;
    padding: 2rem;
    text-align: center;
    align-self: flex-start;
    width: 40%;
    margin: 2rem;
}
.homepage-row {
    display: flex;
    gap: 1rem;
    flex: 1;
    padding: 2rem;
    flex-direction: row;
    width: auto;
    align-self: center;
}
