
.site-background {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    background: #d9d9d9;
    display: flex;
    flex-direction: column;
}

.site-header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background: #b9cdb0;
    color: white;
    justify-content: space-between;
}

.header-logo {
    height: 48px;
    margin-right: 1rem;
}

.site-content {
    flex: 1;
    padding: 2rem;
}

.site-footer {
    text-align: left;
    padding: 1rem;
    background: #b9cdb0;
    color: white;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}
