.upload-container {
    margin-top: 160px;
    text-align: center;
}

.upload-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #44a31c;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1em;
}

    .upload-button:hover {
        background-color: #2e7d13;
    }

.file-info {
    margin-top: 10px;
    color: #333;
}
